/* stylelint-disable selector-class-pattern */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Stratos LC Web', sans-serif;
    font-style: normal;
    background-color: #004980;
    color: #fff;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 22px auto;
    max-width: 1024px;
}

.level {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 480px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #c2f5ff;
    border-radius: 12px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.level__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #004980;
    margin-bottom: 48px;
}

.level__choices {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
}

.level__choice {
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    color: #0080c1;
    border: none;
    background-color: #fff;
    border-radius: 12px;
    width: 98px;
    height: 98px;
    left: 341px;
    top: 354px;
    margin-bottom: 65px;
    cursor: pointer;
}

.error {
    border: 1px solid red;
}

.level__choice:hover {
    background-color: lightblue;
}

.level__choice:focus {
    background-color: lightblue;
}

.button {
    width: 246px;
    height: 50px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #fff;
    background-color: #7ac100;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    margin: 40px;
}

.header__time {
    display: flex;
    align-items: flex-end;
}

.timer__values {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.timer__text {
    font-family: inherit;
    font-size: 16px;
    line-height: 32px;
}

.timer__numbers {
    font-family: inherit;
    font-size: 64px;
    line-height: 72px;
}

.cards-field {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
    perspective: 1000px;
}

.card {
    width: 95px;
    height: 135px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 1s ease;
    cursor: pointer;
}

.face,
.back {
    border-radius: 4px;
    position: absolute;
    pointer-events: none;
}

.back {
    backface-visibility: hidden;
}

.flipCard {
    transform: rotateY(180deg);
}
